---
import SideLayout from '@/layouts/SideLayout.astro'
---

<SideLayout>
  <div class='flex items-center justify-center px-16 h-dvh w-full'>
    <div class='w-full max-w-[1500px] h-full'>
      <object
        data='/books/Meego_Christian Virtue Ethics EN.pdf'
        type='application/pdf'
        width='100%'
        height='100%'
      >
      </object>
    </div>
  </div>
</SideLayout>
