---
const { url } = Astro.props
---

<div class='w-full h-dvh'>
  <div id='scene' class='w-full h-full flex items-center justify-center'>
    <img src={url} />
  </div>
</div>

<script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js' is:inline
></script>
<script>
  // just grab a DOM element
  var element = document.querySelector('#scene')

  // And pass it to panzoom
  panzoom(element, {
    minZoom: 0.5,
  })
</script>
